
<div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-3 px-3 px-xl-5 bg-light fixed-bottom">
    <!-- Copyright -->
    <div class="mb-2 mb-md-0">
        Copyright © 2021. All rights reserved.
    </div>
    <!-- Copyright -->
</div>
</body>
</html>